astroid==3.0.1
beautifulsoup4==4.12.2
blinker==1.7.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
cssutils==2.9.0
dill==0.3.7
Flask==3.0.0
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
markdownify==0.11.6
MarkupSafe==2.1.3
mccabe==0.7.0
pdf2image==1.16.3
Pillow==10.1.0
platformdirs==4.0.0
pylint==3.0.2
pypdf==3.17.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tomlkit==0.12.3
Unidecode==1.3.7
urllib3==2.0.7
Werkzeug==3.0.1
