<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}

    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand" style="color: orangered" href="#">IMAGINATIONS utility scripts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}">TOC/metadata <span class="sr-only">(current)</span></a>
                </li>


                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Convert file formats</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('docx2md') }}">word -> markdown</a>
                        <a class="dropdown-item" href="{{ url_for('md2html') }}">markdown -> html</a>
                        <a class="dropdown-item" href="{{ url_for('html2pdf') }}">html -> pdf</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="{{ url_for('app_json.issue_edit') }}">Issue data/functions </a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>
    </nav>
    {#
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">word2markdown</li>
        </ol>
    </nav>
    #}
    <div class="container">
        <div class="row m-2">

            {% for message in get_flashed_messages() %}
            <blockquote style="font-size:14pt; background-color: darkblue; color: green;"></blockquote>
            {% endfor %}
            </code>
        </div>
        <hr>
        {% block main %}

        {% endblock %}

        <hr>
        <div class="row">
            <div class="text-center col-lg-6 offset-lg-3">
                <h4>End of form</h4>

            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    {# link to outside javascript#}
    {#<script src={{ url_for("static", filename="js/edit.js") }}></script>#}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


    {% block script %}

    {% endblock %}
</body>

</html>