{% extends 'base.html' %}

{% block title %}

<title>Convert markdown to html</title>

{% endblock %}

{% block main %}
<h1 class="text-primary">Document conversion utilities</h1>
<p>Convert files in the following order:
<ol>
    <li>docx-->markdown;</li>
    <li>markdown-->html;</li>
    <li>html-->PDF</li>
</ol>
</p>
<p>Please note that you need to delete already existing conversions before converting the same file again.</p>
<hr>
<details open>
    <summary class="h2">Convert docx to markdown</summary>
    <div class="row bg-light">
        <div class="col-6">
            <h2 class="mb-1 h5">docx files</h2>
            {% if the_passed_docx_list %}
            {% for entry in the_passed_docx_list %}
            <div class="row">
                <div class='col-8'> {{ entry }}</div>
                <div class='col-auto'><span class="text-danger"><a href="/convert2md/{{ entry }}">CONVERT</a></span></div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-6">
            <h5 class="mb-2">markdown files</h5> {% if the_passed_md_list %}{% for entry in the_passed_md_list %}
            <div class='row'>
                <div class="col-8"><span class="text-info">{{ entry }}</span></div>
                <div class='col-auto'><a href="{{ url_for('delete', the_file=entry) }}"><span class=" text-danger">DELETE</span></a>
                </div>
            </div> {% endfor %} {% endif %}
        </div>
    </div>
    <div class="row">
        <h4>Upload word file</h4>
    </div>
    <form action="http://localhost:8000/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="upload" />
    </form>
</details>

{% endblock %}